In [42]:
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [43]:
# datas should be converted to dictionary before sending to mongodb
# because mongodb only accepts dictionary type data

data = df.to_dict(orient='records')

In [44]:
import pymongo
from dotenv import load_dotenv
import os
load_dotenv(override=True)  

url=os.getenv("CONNECTION_URL")

DB_NAME = 'Proj1'
COLLECTION_NAME = 'Proj1-data'
CONNECTION_URL=url

In [ ]:
client = pymongo.MongoClient(CONNECTION_URL)

data_base=client[DB_NAME]
collection=data_base[COLLECTION_NAME]

In [ ]:

from pymongo import MongoClient



# Connect to MongoDB Atlas
client = MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]


print("Connected!!")

In [8]:
rec = collection.insert_many(data)

In [4]:
try:
    entries = list(collection.find())
    print(f"Total entries found: {len(entries)}")
except Exception as e:
    print("Error occurred while fetching data:", e)

Error occurred while fetching data: cluster0-shard-00-02.yfdm9.mongodb.net:27017: timed out (configured timeouts: connectTimeoutMS: 20000.0ms)

In [ ]:
import pandas as pd

df = pd.DataFrame(entries)
df.head(2)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,67a1248eb690260058cbd52b,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,67a1248eb690260058cbd52c,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0

In [ ]:
my_data = Proj1Data()
print("My data",my_data)
dataframe = my_data.export_collection_as_dataframe(collection_name=self.data_ingestion_config.collection_name)
logging.info(f"Shape of dataframe: {dataframe.shape}")
feature_store_file_path  = self.data_ingestion_config.feature_store_file_path
dir_path = os.path.dirname(feature_store_file_path)
os.makedirs(dir_path,exist_ok=True)
logging.info(f"Saving exported data into feature store file path: {feature_store_file_path}")
dataframe.to_csv(feature_store_file_path,index=False,header=True)
if  dataframe.empty:
    raise Exception("Exported dataframe is empty")